In [14]:
import numpy as np
import pandas as pd
import pickle

In [15]:
#load the model
with open('food_model.pk','rb') as file:
    model=pickle.load(file)

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error,mean_squared_error
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestRegressor

In [17]:
#laod the scaler
with open('food_scale.pk','rb') as file:
    sc=pickle.load(file)

In [18]:
#laod the pca
with open('food_col.pk','rb') as file:
    pca=pickle.load(file)

In [19]:
df1=pd.read_csv("meal_info.csv")
df2=pd.read_csv("fulfilment_center_info.csv")

In [20]:
df1.head()

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [23]:
cat=input("Enter Category")
cui=input("Enter Cuisine")

Enter Category Beverages
Enter Cuisine Indian

In [24]:
meal_id=df1[df1['category']==cat][ df1['cuisine']==cui]['meal_id'].values[0]

C:\Users\Asus\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [25]:
meal_id

1248

In [26]:
df2.head()

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   center_id    77 non-null     int64
 1   city_code    77 non-null     int64
 2   region_code  77 non-null     int64
 3   center_type  77 non-null     object
 4   op_area      77 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 3.1+ KB

In [ ]:
code=int(input("Enter City code"))
reg=int(input("Enter Region code"))
t=input("Enter Center type")
area=float(input("Enter Operation Area"))

In [ ]:
center_id=df2[df2['city_code']==code][ df2['region_code']==reg][ df2['center_type']==t][ df2['op_area']==area]['center_id'].values[0]

In [ ]:
center_id

In [ ]:
df3=pd.read_csv("input/Project/train.csv")

In [ ]:
df3.head()

In [ ]:
df3.info()

In [ ]:
f_id=int(input("Enter ID"))
week=int(input("Enter Week No."))
cp=float(input("Enter Checkout price"))
bp=float(input("Enter Base price"))
e=int(input("Enter Emailer for Promotion-0/1"))
h=int(input("Enter HomePage Featured-0/1"))

In [ ]:
food=[f_id,week,center_id,meal_id,cp,bp,e,h]

In [ ]:
final=[np.array(food)]

In [ ]:
final=sc.transform(final)

In [ ]:
final_best=pca.transform(final)

In [ ]:
no_of_orders=int(model.predict(final_best))

In [ ]:
print("NUMBER OF ORDERS IS ",no_of_orders)